*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; /*Quita las viñetas (bolitas) a los links*/

}

html{
    scroll-behavior: smooth;
}

/*---------------HEADER--------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    /* border-bottom: 1px solid rgb(182, 182, 182); */
    padding: 1em;
}

.logo{
    width: 153px;
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    z-index: 3;
}

.contenido-menu{
    position: absolute;
    width: 100%;
    max-width: 305px; /*Es lo que ocupa el menú que se lateraliza a la derecha*/
    top:0;
    left: 0;    
    background-color: #592E0B; /*Color del menú lateral*/
    height: 100vh;
    transform: translateX(-100%);
    transition: all 500ms ease;
    z-index: 5;
}

.titulo-menu-desplegable{
    margin-top: 58px;   
    margin-bottom: 13px;
    color:aliceblue
}

.nav{
    display: flex;
    flex-direction: column;    
    /*padding-left: 1em; Esto se lo quité para que las líneas divisorias ocupen todo el largo del menú desplegable */
    transform: translateY(15%); /*Altura de los links con respecto al header*/
}



.nav > a{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    /*Espacio entre el texto y su mini contenedor de texto */  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;  
    border-top: 1px solid yellow;
    color: aqua;
}

/*ANIMACIÓN: 
estas 2 clases serán agregadas con Js*/
.animacion{
    opacity: 1;
    visibility: visible;    
}

.animacion-2{
    transform: translateX(0%);
}

/*-------MENU HAMBURGUESA--------------------------
El "menu__barras", al tener una "position:absolute",
se posiciona con respecto al "header" que tiene una
"position:relative" y, además, es hijo de él.*/
.menu__barras{   
    position: absolute;
    width: 30px;
    height: 30px;
    top:40%;
    right: 10%;
    transform: scale(1);
    cursor: pointer;       
    z-index: 5;    
}

.menu__barras > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: red; /*Color de las barras */
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}

/*Clases que no estan en el HTML, pero que seran
agregadas a las barras <span> mediante JavaScript: */
.activarLinea1__menu-barras{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activarLinea2__menu-barras{
    opacity: 0;
    margin-left: -30px;
}

.activarLinea3__menu-barras{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.titulo-principal{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 1em;   
    border-bottom: 1.5px solid black;
}

.titulo-principal-fhd{
    display: none;
    margin-bottom: 1em;
}


/*SECCIÓN MAIN:*/
.divisor{
    border-bottom: 1.5px solid black;
}

p{
    font-family: 'Poppins';
}

h2{
    text-align: center;
    margin-bottom: 0.4em;
}

h3{
    text-align: center;
    margin-bottom: 0.1em;
}

/*CONTENEDOR GENERAL DE QUIENES SOMOS Y PRODUCTOS*/
.grilla-productos, .grilla-q-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.rosa{
    color:crimson;
}

.rojo{
    color: red;
}

.azul{
    color:rgb(0, 81, 255);
}

.dm{
    color: #592E0B;
    font-weight: bold;
}


.titulo-caja{
    margin-top: 1em;
}

.img-grilla, .img-minina, .img-minimapa{
    max-width: 100%;
    object-fit: contain;
}

.descripcion-producto{
    font-family:'Poppins';
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.proximamente{
    color:rgb(201, 0, 167);
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-novedades{
    max-width: 300px;
    border: 2px solid #FFFFFF;
    box-shadow: inset 0 0 5px red, 0 0 10px red;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000;

}

.neon{
    font-family: 'Tilt Neon';
    font-size: 40px;
    color:#FFFFFF;
    text-shadow: 0 0 5px rgb(201, 0, 167), 0 0 15px rgb(201, 0, 167), 0 0 30px rgb(201, 0, 167), 0 0 50px rgb(201, 0, 167);
    padding: 0;
    margin: 0;
}

/*CONTENEDOR GENERAL DE LOS MEDIOS DE PAGO*/
.medios-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /*Acá SI se puede colocar padding y no lateraliza*/
}

.efectivo, .transferencia-mp, .transferencia-banco-provincia{
    display: flex;    
    flex-direction: column;
    align-items: center;
    text-align: center;    
    padding: 0px; /*OJO CON ESTO! El PADDING hace que en los móviles se lateralice la página hacia la derecha. */    
}

.foto-dinero{
    margin-top: 0.5em;
    margin-bottom: 0.6em;
}

.foto-mp{
    max-width: 130px;
    margin-top: 1em;
    margin-bottom: 0.6em;
}

.foto-otros{
    max-width: 300px;
    margin-top: 0.5em;
}


/*SECCIÓN FOOTER:*/
.footer{
    font-family: sans-serif;
    background-color: #24262b;  
    margin-top: 30px;
    padding-top: 20px;
   
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}

.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
}

.titulo-ubicacion{
    color: #FFFFFF;
    margin-bottom: 0.4em;
}

.footer-row{
    display: flex;
    flex-wrap: wrap; /*Al achicar la pantalla, se baja cada ítem uno debajo del otro y no quedan en línea*/
    text-align: center;
}

.footer-links{
    width: 25%; /*Separación entre links del 25%*/
    padding: 0 15px; /*0px arriba y abajo, y 15px izquierda y derecha*/
    width: 100%;
    margin-bottom: 20px;
}

.footer-links > h4{
    display: inline-block; /*Permite que el border-bottom se mantenga en el ancho de las letras*/
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF; /*Raya debajo del h4*/
    padding-bottom: 8px;
}

.footer-links > ul > li > a{
    display: block;
    font-size: 18px;
    text-decoration: none; /*Quita la línea debajo de los enlaces*/
    color: #BBBBBB;    
    transition: all .3s ease;
}

.footer-links > ul > li > a:hover{
    color:red;
    padding-left: 6px;
}

.social-links > a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px; /*Altura de los enlaces */
    transition: all .4s ease;
}

.social-links > a:hover{
    transform: scale(0.8)
}

.copyright{
    display: block;
    background-color: #000000;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 100%;
}

.p-copyright{
    text-align: center;
    color:white;
    font-size: 0.9em;
}

@media(max-width: 991px){ /*Cuando baje a 991px*/
    .footer-row{
        text-align: center;
    }    

    .footer-links{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(min-width:801px) and (max-width:1920px){
    .logo{
        width: calc(153px + (300 - 153) * ((100vw - 801px) / (1920 - 801))); 
        margin-bottom: 25px;
    }
}

@media(min-width:801px){
    .menu__barras{
        display: none;
    }

    .titulo-principal-fhd{
        display: block;
        font-size: 3.5em;
        margin-bottom: 10px;
        text-align: center;

    }

    .titulo-principal{
        display: none;
    }

    .titulo-menu-desplegable{
        display: none;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        
    }
    .container-menu{
        position:static;
        background-color:transparent;
        width: auto;
        height: auto;        
        opacity: 1;
        visibility: visible;
        transition: all 0ms ease;
    }

    .contenido-menu{
        position: static;
        width: auto;
        max-width:fit-content; /*Deja que el contenido ajuste el ancho*/           
        background-color:transparent;
        height: auto;
        transform: translateX(0%);
        transition: all 0ms ease;
    }

    .nav{
        display: flex;
        flex-direction:row;
        justify-content: end;    
        gap: 1em;
        padding-left: 0;
        transform: translateY(0%); /*Altura de los links con respecto al header*/
    }

    .nav > a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        color: rgb(0, 99, 138);
        border-top: 0px;
    }

    .nav > a:hover{
        color:red;
        text-decoration: underline;
    }

    /*CUERPO DEL MAIN */
    .sobre-nosotros, .productos, .medios-de-pago, .ubicacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    } 

    .grilla-q-somos, .grilla-productos{
        max-width: 854px;
    }

    .figcaption{
        text-align: center;
    }

    .descripcion-otros{
        text-align: center;
    }

    #ubicacion{
        display: flex;
        justify-content: center;
        
    }

    .ubicacion{
        max-width: 600px;
    }

    

    
}


