*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; /*Quita las viñetas (bolitas) a los links*/

}

html{
    scroll-behavior: smooth;
}

/*---------------HEADER--------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 1em;
}

.logo{
    width: 110px;
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    z-index: 3;
}

.contenido-menu{
    position: absolute;
    width: 100%;
    max-width: 305px; /*Es lo que ocupa el menú que se lateraliza a la derecha*/
    top:0;
    left: 0;    
    background-color: #592E0B; /*Color del menú lateral*/
    height: 100vh;
    transform: translateX(-100%);
    transition: all 500ms ease;
    z-index: 5;
}

.titulo-menu-desplegable{
    margin-top: 58px;
    margin-left: 40px;
    color:aliceblue
}

.nav{
    display: flex;
    flex-direction: column;    
    /*padding-left: 1em; Esto se lo quité para que las líneas divisorias ocupen todo el largo del menú desplegable */
    transform: translateY(15%); /*Altura de los links con respecto al header*/
}



.nav > a{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 25px; /*Espacio entre el texto y su mini contenedor de texto */
    border-top: 1px solid yellow;
    color: aqua;
}

/*ANIMACIÓN: 
estas 2 clases serán agregadas con Js*/
.animacion{
    opacity: 1;
    visibility: visible;    
}

.animacion-2{
    transform: translateX(0%);
}

/*-------MENU HAMBURGUESA--------------------------
El "menu__barras", al tener una "position:absolute",
se posiciona con respecto al "header" que tiene una
"position:relative" y, además, es hijo de él.*/
.menu__barras{   
    position: absolute;
    width: 30px;
    height: 30px;
    top:40%;
    right: 10%;
    transform: scale(1);
    cursor: pointer;       
    z-index: 5;    
}

.menu__barras > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: red; /*Color de las barras */
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}

/*Clases que no estan en el HTML, pero que seran
agregadas a las barras <span> mediante JavaScript: */
.activarLinea1__menu-barras{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activarLinea2__menu-barras{
    opacity: 0;
    margin-left: -30px;
}

.activarLinea3__menu-barras{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/*SECCIÓN MAIN:*/
h2{
    text-align: center;
}

.medios-pago{
    display: flex;
    flex-wrap: wrap;
}

.efectivo{
    width: 25%;
    padding: 0 20px;
}

.transferencia{
    width: 25%;
    padding: 0 40px;
}


/*SECCIÓN FOOTER:*/
.footer{
    font-family: sans-serif;
    background-color: #24262b;  
    padding-top: 40px;
   
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap; /*Al achicar la pantalla, se baja cada ítem uno debajo del otro y no quedan en línea*/
}

.footer-links{
    width: 25%; /*Separación entre links del 25%*/
    padding: 0 15px; /*0px arriba y abajo, y 15px izquierda y derecha*/
}

.footer-links > h4{
    display: inline-block; /*Permite que el border-bottom se mantenga en el ancho de las letras*/
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF; /*Raya debajo del h4*/
    padding-bottom: 8px;
}

.footer-links > ul > li > a{
    display: block;
    font-size: 18px;
    text-decoration: none; /*Quita la línea debajo de los enlaces*/
    color: #BBBBBB;    
    transition: all .3s ease;
}

.footer-links > ul > li > a:hover{
    color:red;
    padding-left: 6px;
}

.social-links > a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px; /*Altura de los enlaces */
    transition: all .4s ease;
}

.social-links > a:hover{
    transform: scale(0.8)
}

.copyright{
    display: block;
    background-color: #000000;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    height: 100%;
}

.p-copyright{
    text-align: center;
    color:white;
}

@media(max-width: 991px){ /*Cuando baje a 991px*/
    .footer-row{
        text-align: center;
    }    

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}


